<app-layout>
    <div class="page home-background home-page">
        <app-layout-tops>
            <div top-marvel class="top-style" *ngIf="personajesMarvel.length>0">
                <app-avatar-card *ngFor="let personaje of personajesMarvel" [personaje]="personaje" [showCasa]="false" ></app-avatar-card>
            </div>
            
            <div top-dc class="top-style" *ngIf="personajesDC.length>0">
                <app-avatar-card *ngFor="let personaje of personajesDC" [personaje]="personaje" [showCasa]="false" ></app-avatar-card>
            </div>
            
            <div top-comunidad class="top-style" *ngIf="personajesComunidad.length>0">
                <app-avatar-card *ngFor="let personaje of personajesComunidad" [personaje]="personaje" [showCasa]="false" ></app-avatar-card>
            </div>
        </app-layout-tops>
    </div>
</app-layout>