.botonera-container{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    .btn {
        width: 163px;
        border-radius: 20px;
        font-size: 18px;
        cursor: pointer;
        color: white;
        font-weight: 700;
        border: none;
        box-shadow: 1px 1px 3px 3px grey;
        margin: 0 15px;
    }
    
    .btn-save {
        background-color: #026300;
        color: white;
    }
    
    .btn-cancel {
        background-color: #777777;
        color: white;
    }
    
    .btn-delete {
        background-color: red;
    }
}